<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
        <security xdt:Transform="Insert">
            <requestFiltering>
                <!-- Set max request size to 10 MB -->
                <requestLimits maxAllowedContentLength="10485760" />
            </requestFiltering>
        </security>
        <httpProtocol xdt:Transform="Insert">
            <customHeaders>
                <!-- Instruct browsers to always use HTTPS when connecting to this site (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security) -->
                <add name="Strict-Transport-Security" value="max-age=3840; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
        <rewrite xdt:Transform="Insert">
            <rules>
                <clear />
                <!-- Redirect any HTTP requests to the same URL but over HTTPS -->
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>